body{
 background-color: #f8b500;
text-align: center;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  text-shadow: 5px 0 yellow;
  margin-top: 2%;
 
}

.container{
  margin: auto;
  width:70%;
}
.dice{
  display: inline-block;
  width: 35%;
  margin-left: 3%;
}

p{
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

.dice-img{
  width: 60%;

}
.roll-btn{
  font-family: fantasy;
  padding: 0.5% 2%;
  margin-top: 1%;
  margin-bottom: 2%;
  background-color:#ff7517;
  border-color: #ff7517;
  outline: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.roll-btn:hover{
  background-color:#be3030;
  border-color: #be3030;
  outline: none;
}

.result{
  display:inline-block;
}
.result-img{
  width:15%;
}
.result_display_h2{
  font-family: fantasy;
}
/* Media queries */

@media (max-width: 515px){
 h1{
   font-size: 6rem;

 }
 .roll-btn-div{
 margin-top: 60px;
 }
}

@media (max-width: 414px){
  h1{
    font-size: 4rem;
  }
  .roll-btn-div{
  margin-top: 60px;
  }
}
/* media queries for iphone 6s */

@media screen and (max-device-width: 414px) {
  h1{
    font-size: 2rem;
  }
  .dice{
    margin-left: 0.5%;
  }
  .dice-img{
    width: 90%;
  }
  .roll-btn{
     margin-top: 3.5%;
  }  
  p{
    font-size: 1rem;
  }
}

